body {
    line-height: 1.6;
color: #fff;
    background: #000;
font-size: 18px;
font-weight: 400;
font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

&.stop {
    overflow: hidden;
}
}

#page {
position: relative;
transition: 1s all ease-in-out;

&.menuopen {
    opacity: .6;
    filter: blur(20px);
    transform: scale(1.2);
}
}

section {
display: flex;
min-height: 100vh;
padding: 25px;
justify-content: center;
align-items: center;
background: #222;
color: #fff;
position: relative;

&:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: .5;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 120px;
    margin: 0;
    z-index: 2;
    position: relative;
}
}

header {
z-index: 99999;
position: relative;

#logo {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100px;
    height: auto;
    margin: 0 auto;
    opacity: 1;
    transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
}

nav {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto;
    top: 120px;
    background-color: rgba(255,255,255,.05);
    border-radius: 200px;
    z-index: 9;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,.06);
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;

    
    a {
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        display: block;
        padding: 10px 20px;
        line-height: 1;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: lowercase;
        transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;

    }
    
    button {
        -webkit-appearance: none;
        background: rgba(0,0,0,.3);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255,255,255,.1);
        position: absolute;
        z-index: 99;
        left: 0;
        margin: auto;
        right: 0;
        top: 0;
        bottom: 0;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        outline: 0;
            border: 0;
        cursor: pointer;
                            transition: .3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
        transform: scale(0);

        span {
            width: 40%;
            background: #fff;
            height: 2px;
            display: block;
            margin: 5px auto;
            transform: scalex(0);
            transition: .6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, .3s margin ease-in 0s;
        }
        
        &:hover {
            border-color: rgba(255,255,255,.5);
            
            span {
                margin: 10px auto;
            }
        }
    }
}
}

header.sticky {
#logo {
    top: 0;
    transform: scale(.8);
    opacity: 0;
    transition-delay: 0.5s;
}
nav {
    top: 20px;
    padding: 0;
    width: 90px;
    height: 90px;
    transition-delay: 0.5s;
    
    button {
        transform: scale(1);
        transition-delay: 0.6s;
        
        span {
            transform: scalex(1);
            transition: .6s transform cubic-bezier(0.075, 0.82, 0.165, 1) .8s, .3s margin ease-in 0s;
        }
    }
    
    a { 
        padding: 0;
        opacity: 0;
        letter-spacing: 0px;
        transform: scale(0.3);
        transition-delay: 0.2s;
    }
}
}

#fixedlink {
position: fixed;
bottom: 0;
z-index: 9999;
right:0;
left:0;
text-align: center;
text-decoration: none;
color:#fff;
font-size: 13px;
font-weight: 700;
letter-spacing: 1px;
padding: 20px;
}
#page1 {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
#page2 {
    position: relative;
    display: block;
    justify-content: left;
    align-items: baseline;
    padding: 20px;
    height: 100vh; 
     background-image: url(7D42mV5.jpg);
    background-size: cover;
}   
#page3{
    position: relative;
    display: block;
    justify-content: left;
    align-items: baseline;
    padding: 20px;
    height: 100vh; 
     background-image: url(download.jpg);
    background-size: cover;
}
#page4{
    position: relative;
    display: block;
    justify-content: left;
    align-items: baseline;
    padding: 20px;
    height: 100vh; 
     background-image: url(download\ \(1\).jpg);
    background-size: cover;
}

  #div1 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    
  }
  
  .text-content {
    padding: 20px;
  }
  
  h2 {
    font-size: 64px;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
  }
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#div1 {
    display: flex; 
    flex-direction: row;
    
}

#span1 {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 1)
}

.skill{

    width:500px;
    margin: 60px auto;
    color: #fff;
    padding :20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0,0,0,0.22);
}

.skill li{
    margin:20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height:20px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25) 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22) ;
}
.bar span{
    height:20px ;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0% ,rgba(252,103,103,1.0)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 85%;
    animation: css 3s;
}.python{
    width: 70%;
    animation: python 3s;
}.java{
    width: 75%;
    animation: java 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

.card-list{
    justify-content: center;
    align-items: center;
    display: flex;
    padding:3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 90px;
}

.card {
    height: 350px;
    width: 250px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
    
}
.card:hover img {
    transform: translate(-50%, +50%);
    position: absolute;
    top: 100%;
    left: 50%;
    transition: transform 0.6s ease;
}

.card:not(:first-child) {
    margin-left: -130px;
}

a{
    text-decoration: none;
}



